.NAME{
  position: absolute;
  top: 19px;
  left: 121px;
  font-size: var(--font-size-29xl);
  font-family: var(--font-kode-mono);
  color: #FDF9F9;
  text-align: left;
  display: inline-block;
  width: 390px;
  height: 65px;
}

.LOGO {
  position: absolute;
  top: 19px;
  left: 37px;
  width: 71px;
  height: 65px;
  object-fit: cover;
}

.BLACKTHEME {
  position: absolute;
  top: 32PX;
  right:37px;
  border-radius: 159.5px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  box-sizing: border-box;
  width: 70px;
  height: 34px;
  overflow: hidden;
}
.CIRCLE {
  position: absolute;
  top: 34px;
  right:73px;
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  background-color: #000000;
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.NAVT{
  position: absolute;
  top: 32px;
  right:41px;
  width: 33px;
  height: 33px;
  object-fit: cover;
  overflow: hidden;
}
.NAVD{
  position: absolute;
  top: 32px;
  right:126px;
  width: 43px;
  height: 38px;
  overflow: hidden;
}
.NAVE{
  position: absolute;
  top: 32px;
  right:186px;
  width: 43px;
  height: 38px;
  overflow: hidden;
}
.NAVA{
  position: absolute;
  top: 32px;
  right:246px;
  width: 43px;
  height: 38px;
  overflow: hidden;
}

.NAVP{
  position: absolute;
  top: 32px;
  right:306px;
  width: 43px;
  height: 38px;
  overflow: hidden;
}
.NAVU{
  position: absolute;
  top: 32px;
  right:366px;
  width: 43px;
  height: 38px;
  overflow: hidden;
}

.MAINLINE{
  margin-left: 32px;
  margin-right: 32px;
  font-weight: 600;
  font-size: 90px;
  text-align: center;
  margin-top: 200px;
  margin: 0, auto;
}
.TOPIC1{
  font-size: 48px;
  font-weight: 600;
  text-align: left;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 100px;
}
.TOPIC2{
  font-size: 48px;
  font-weight: 600;
  text-align: left;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 90px;
}

.CONTENT1{
  font-size: 24px;
  text-align: left;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 5px;
  background-color: #005173;
  padding: 10px;
  box-shadow: 5px 5px 10px rgba(200, 255, 254, 0.5);
  border-radius: 20px;
}
.services-grid {
  display: flex;
  justify-content: space-between;
  margin-left: 32px;
  margin-bottom: 5%;
  margin-right: 32px;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 5px 5px 10px rgba(200, 255, 254, 0.5);
  background-color: #005173;
}

.service-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.service-icon {
  width: 46px;
  height: 46px;
}

.service-title {
  color: #dff1f9;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  text-align: center;
  margin: 0;
}

@media (max-width: 991px) {

  .services-grid {
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }

  .service-card {
    width: 30%;
  }
}
  
@media (max-width: 752px){
  #NAV, .NAVT{
    top: 108px;
    margin-top: 40px;
    align-items: center;
    margin:0, auto;
  }
  .CIRCLE{
    top: 110px;
    margin-top: 40px;
  }
  .MAINLINE{
    font-size: 70px;
    margin-top: 225px;
  }
  .services-grid {
    flex-direction: column;
  }

  .service-card {
    width: 100%;
  }

}

